In [1]:
from sklearn.preprocessing import OneHotEncoder as OHE

In [2]:
import numpy as np
my_encoder = OHE(range(4),dtype=np.int)

In [7]:
my_encoder.fit_transform([[1,2,1,2]]).toarray()

array([[0, 1, 2, 0, 0, 1]])

In [11]:
import pandas as pd
dna = pd.DataFrame()
dna[1] = [1,3,3,1]
dna[2] = [2,3,2,3]
dna[3] = [3,1,1,3]
dna[4] = [3,2,2,3]
dna

   1  2  3  4
0  1  2  3  3
1  3  3  1  2
2  3  2  1  2
3  1  3  3  3

In [14]:
train = pd.read_csv("train.csv")
train.head()

,ACTION,RESOURCE,MGR_ID,ROLE_ROLLUP_1,ROLE_ROLLUP_2,ROLE_DEPTNAME,ROLE_TITLE,ROLE_FAMILY_DESC,ROLE_FAMILY,ROLE_CODE
0,1,39353,85475,117961,118300,123472,117905,117906,290919,117908
1,1,17183,1540,117961,118343,123125,118536,118536,308574,118539
2,1,36724,14457,118219,118220,117884,117879,267952,19721,117880
3,1,36135,5396,117961,118343,119993,118321,240983,290919,118322
4,1,42680,5905,117929,117930,119569,119323,123932,19793,119325

In [15]:
train.describe()

,ACTION,RESOURCE,MGR_ID,ROLE_ROLLUP_1,ROLE_ROLLUP_2,ROLE_DEPTNAME,ROLE_TITLE,ROLE_FAMILY_DESC,ROLE_FAMILY,ROLE_CODE
count,32769.000000,32769.000000,32769.000000,32769.000000,32769.000000,32769.000000,32769.000000,32769.000000,32769.000000,32769.000000
mean,0.942110,42923.916171,25988.957979,116952.627788,118301.823156,118912.779914,125916.152644,170178.369648,183703.408893,119789.430132
std,0.233539,34173.892702,35928.031650,10875.563591,4551.588572,18961.322917,31036.465825,69509.462130,100488.407413,5784.275516
min,0.000000,0.000000,25.000000,4292.000000,23779.000000,4674.000000,117879.000000,4673.000000,3130.000000,117880.000000
25%,1.000000,20299.000000,4566.000000,117961.000000,118102.000000,118395.000000,118274.000000,117906.000000,118363.000000,118232.000000
50%,1.000000,35376.000000,13545.000000,117961.000000,118300.000000,118921.000000,118568.000000,128696.000000,119006.000000,118570.000000
75%,1.000000,74189.000000,42034.000000,117961.000000,118386.000000,120535.000000,120006.000000,235280.000000,290919.000000,119348.000000
max,1.000000,312153.000000,311696.000000,311178.000000,286791.000000,286792.000000,311867.000000,311867.000000,308574.000000,270691.000000

In [20]:
for col in train.columns:
    print train[col].value_counts()

1    30872
0     1897
Name: ACTION, dtype: int64
4675      839
79092     484
25993     409
75078     409
3853      404
6977      299
75834     299
32270     295
42085     247
17308     239
1020      236
13878     220
42093     204
18418     192
7543      186
23921     167
278393    163
34924     161
79121     157
28149     137
18072     136
20364     135
39262     129
14354     127
23096     126
75901     115
15064     113
33054     108
20897     104
33642      99
         ...
35046       1
92378       1
100413      1
79728       1
79792       1
36894       1
28635       1
59370       1
45057       1
30629       1
18462       1
38809       1
77905       1
42879       1
75631       1
39012       1
30565       1
18275       1
79693       1
97530       1
28793       1
18243       1
20290       1
26407       1
43202       1
35014       1
75535       1
30936       1
89856       1
16376       1
Name: RESOURCE, Length: 7518, dtype: int64
770       152
2270       99
2594       82
1350       71
2014       67
16850      66
3966       64
7807       64
5244       62
5396       62
3526       62
4659       61
7411       61
54618      61
18686      60
7578       58
7389       58
3281       57
70062      57
18213      57
6982       56
1475       56
71189      55
85475      55
1334       54
3838       54
46254      54
1903       53
1755       53
7553       53
         ...
50605       1
93720       1
55662       1
53519       1
28225       1
6358        1
20421       1
3285        1
17628       1
64779       1
6030        1
5542        1
311597      1
8047        1
5526        1
5966        1
50604       1
142801      1
7639        1
15651       1
97915       1
58648       1
44633       1
1908        1
73591       1
1940        1
8087        1
22526       1
34948       1
58677       1
Name: MGR_ID, Length: 4243, dtype: int64
117961    21407
117902      742
91261       721
118315      498
118212      400
118290      398
119062      375
118887      334
117916      295
118169      291
118752      282
117929      276
118256      275
117926      269
119596      239
117890      234
118079      221
118006      197
118573      190
5110        186
118219      184
117876      171
120864      160
117910      149
119134      149
119280      144
118595      140
117983      129
118602      129
118084      119
          ...
247952       12
120883       12
132839       12
118976       12
130684       11
119178       10
216705       10
121518        9
119740        8
119370        7
127044        7
192441        5
183723        5
119828        5
120268        4
127616        4
119615        4
119027        3
311178        2
118358        2
147236        1
118774        1
120354        1
143008        1
133430        1
203209        1
209434        1
141221        1
119343        1
121411        1
Name: ROLE_ROLLUP_1, Length: 128, dtype: int64
118300    4424
118343    3945
118327    2641
118225    2547
118386    1796
118052    1665
117962    1567
118413    1295
118446     971
118026     721
117903     489
117969     397
118291     396
118888     334
119091     321
118213     295
118170     291
118463     267
118257     257
118041     253
119597     239
118316     231
118080     221
119070     209
118007     197
118574     190
117954     186
118178     185
118220     184
119256     181
          ...
119762       5
141176       5
119829       5
119616       4
120269       4
123999       4
121019       3
119715       3
119028       3
120862       3
132564       2
124157       2
118359       2
119344       1
176316       1
118907       1
286791       1
131390       1
143009       1
132840       1
185842       1
140550       1
125018       1
147237       1
121602       1
141222       1
32137        1
120355       1
118775       1
120018       1
Name: ROLE_ROLLUP_2, Length: 177, dtype: int64
117878    1135
117941     763
117945     659
118514     601
117920     597
117884     546
119598     543
118403     532
119181     525
120722     501
118320     435
117895     431
118746     415
118783     366
120663     335
118910     325
118437     317
118352     305
118631     304
120551     304
118458     300
118042     296
118202     296
118395     292
118623     284
120370     278
122007     267
118507     267
118522     251
118391     231
          ...
118433       2
148436       2
126574       2
120142       2
122001       2
125101       2
119496       1
121097       1
122587       1
120201       1
139001       1
138789       1
147019       1
184402       1
132647       1
286792       1
122722       1
118035       1
121030       1
223958       1
255696       1
29113        1
127155       1
134848       1
122358       1
123175       1
122963       1
123675       1
119565       1
272283       1
Name: ROLE_DEPTNAME, Length: 449, dtype: int64
118321    4649
117905    3583
118784    1772
117879    1256
118568    1043
117885     806
118054     774
118685     597
118777     566
118451     521
120344     473
307024     467
280788     394
179731     384
118422     376
118890     347
118636     344
118396     342
119849     337
118834     335
117946     329
120773     289
118641     288
118259     274
117899     240
118043     238
119093     224
118747     218
120690     217
120006     216
          ...
149916       1
157300       1
130633       1
166800       1
122188       1
137370       1
124486       1
126502       1
310825       1
130284       1
126418       1
240103       1
268608       1
270690       1
157359       1
152268       1
123131       1
297560       1
157799       1
153248       1
117906       1
208565       1
266862       1
155110       1
126547       1
126931       1
239003       1
130362       1
157347       1
125405       1
Name: ROLE_TITLE, Length: 343, dtype: int64
117906    6896
240983    1244
117913     670
279443     665
117886     530
130134     419
117897     351
117879     333
168365     324
133686     321
118054     311
118448     282
118959     246
280788     244
118785     233
302830     225
300136     222
311622     219
269406     211
306399     205
310608     202
118260     199
311441     194
305057     181
120324     179
118806     174
281735     161
310997     160
123107     155
301534     154
          ...
150320       1
222005       1
216064       1
120034       1
192106       1
146655       1
203113       1
250160       1
194805       1
124811       1
137275       1
126932       1
194455       1
147792       1
220962       1
145167       1
135770       1
266874       1
136811       1
126548       1
127782       1
153123       1
151040       1
214497       1
122130       1
125925       1
130023       1
160903       1
128102       1
157709       1
Name: ROLE_FAMILY_DESC, Length: 2358, dtype: int64
290919    10980
118424     2690
19721      2636
117887     2400
292795     1318
118398     1294
308574     1287
118453      941
118331      892
118638      783
118643      783
270488      689
118295      493
118960      465
118205      449
119095      412
4673        384
19793       362
120518      294
119184      293
118704      241
249618      224
118363      190
118474      181
121916      176
118131      160
118467      150
118762      150
3130        146
119221      128
          ...
119788       58
124136       53
119006       49
120134       39
119772       35
122032       30
121069       27
121620       23
118372       20
118736       20
118347       19
120302       16
124487       15
118478        9
151277        7
131999        7
124145        7
123689        6
123611        5
155173        5
125407        4
143398        4
254395        3
127957        3
136398        3
130364        3
159679        3
161100        2
149353        2
132725        2
Name: ROLE_FAMILY, Length: 67, dtype: int64
118322    4649
117908    3583
118786    1772
117880    1256
118570    1043
117888     806
118055     774
118687     597
118779     566
118454     521
120346     473
118332     467
119082     394
117973     384
118425     376
118892     347
118639     344
118399     342
119851     337
118836     335
117948     329
120774     289
118644     288
118261     274
117900     240
118046     238
119096     224
118749     218
120692     217
120008     216
          ...
123133       1
155111       1
126420       1
209875       1
123657       1
166801       1
130285       1
208567       1
157361       1
126933       1
268610       1
121395       1
122190       1
157348       1
125408       1
240105       1
137371       1
152270       1
149918       1
124488       1
157801       1
130635       1
119817       1
270691       1
130365       1
266863       1
126504       1
239004       1
126549       1
188048       1
Name: ROLE_CODE, Length: 343, dtype: int64

In [26]:
train = pd.read_csv("train.csv")
threshold = 20 # Anything that occurs less than this will be removed.
value_counts = train.stack().value_counts() # Entire DataFrame 
to_remove = value_counts[value_counts <= threshold].index
train_filtered = train.replace(to_remove, np.nan, inplace=True)

In [27]:
train.fillna(0,inplace=True)
train.head()

,ACTION,RESOURCE,MGR_ID,ROLE_ROLLUP_1,ROLE_ROLLUP_2,ROLE_DEPTNAME,ROLE_TITLE,ROLE_FAMILY_DESC,ROLE_FAMILY,ROLE_CODE
0,1,0.0,85475.0,117961.0,118300.0,123472.0,117905.0,117906.0,290919.0,117908.0
1,1,17183.0,0.0,117961.0,118343.0,123125.0,118536.0,118536.0,308574.0,118539.0
2,1,0.0,0.0,118219.0,118220.0,117884.0,117879.0,267952.0,19721.0,117880.0
3,1,0.0,5396.0,117961.0,118343.0,119993.0,118321.0,240983.0,290919.0,118322.0
4,1,0.0,0.0,117929.0,117930.0,119569.0,119323.0,0.0,19793.0,119325.0

In [30]:
X = train[train.columns[1:]]
enc = OHE(dtype=np.int)
enc.fit(X)

OneHotEncoder(categorical_features='all', dtype=<type 'int'>,
       handle_unknown='error', n_values='auto', sparse=True)

In [32]:
a=enc.transform(X).toarray()

In [37]:
enc.active_features_

array([      0,     391,     917, ..., 2061269, 2063772, 2065982])

In [40]:
new_X=pd.get_dummies(X, prefix=X.columns,columns=X.columns)

In [41]:
new_X.shape

(32769, 1653)